{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form class="form-signin" method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
						<label for="inputEmail" class="form-label">Email</label>
						<input type="email" id="inputEmail" class="form-control" required autofocus>
						<label for="inputPassword" class="form-label">Password</label>
						<input type="password" id="inputPassword" class="form-control" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					</form>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
			<div class="text-white mb-3 mb-md-0">
				Copyright © 2020. All rights reserved.
			</div>
			<div>
				<a href="#!" class="text-white me-4">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#!" class="text-white me-4">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="#!" class="text-white me-4">
					<i class="fab fa-google"></i>
				</a>
				<a href="#!" class="text-white">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>
		</div>
	</section>
{% endblock %}
