{% extends 'base.html.twig' %}

{% block title %}Enregistrez-vous
{% endblock %}

{% block body %}
	<div class="bg-dark text-white">
		<section class="vh-100" style="background-color: #eee;">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
						<div class="card text-black" style="border-radius: 25px;">
							<div class="card-body p-md-5">
								<div class="row justify-content-center">
									<div class="col-12 order-2 order-lg-1">

										<h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Enregistrez-vous</h1>

										{{ form_start(registrationForm, {'attr': {'class': 'mx-1 mx-md-4'}}) }}

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'id': 'form3Example1c'}}) }}

											</div>
											{{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label', 'for': 'form3Example1c'}}) }}


										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'id': 'form3Example4c'}}) }}
											</div>

											{{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'form-label', 'for': 'form3Example4c'}}) }}

										</div>

										<div class="form-check d-flex justify-content-center mb-5">
											{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input me-2', 'id': 'form2Example3c'}}) }}
											{{ form_label(registrationForm.agreeTerms, 'I agree all statements in Terms of service', {'label_attr': {'class': 'form-check-label', 'for': 'form2Example3'}}) }}
										</div>

										<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
											<button type="submit" class="btn btn-primary btn-lg">Register</button>
										</div>

										{{ form_end(registrationForm) }}

									</div>
									<div class="col-12 d-flex align-items-center order-1 order-lg-2">

										<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
