{# <div class="alert alert-{{ type }}">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> #}
<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert" id="myAlert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>