<div{{ attributes }}>
    <strong>{{ this.getDataStats }}</strong>

    {# <button data-action="live#$render">Generate a new number!</button> #}

	<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Content Row -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div
                        class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Productions Nombre de points / heure </h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                {{ render_chart(this.shartdesigne) }}
                            </div>
                                <input 
                                    type="range" 
                                    class="form-range" 
                                    id="datavalue" 
                                    data-model="datavalue"
                                    data-action="live#action" 
                                    data-action-name="getDataStats" 
                                    step="50"
                                    min="0"
                                    max= "400" 
                                    > 
                        </div>
                    </div>
                </div>
                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Productions heures de travail par jour</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                {{ render_chart(this.camembertdesigne) }}
                            </div>
                            <input type="range" class="form-range" id="customRange1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
