<div {{ attributes }} class="m-4">
    <div class="row">
        <div class="col-2">
            <label for="fromYear" class="form-label">
                From: <code><small></small></code>
            </label>
            <input
                type="range"
                class="form-range"
                id="fromYear"
                data-model="fromYear"
                min="-200"
                max="200"
            >
        </div>

        <div class="col-2">
            <label for="toYear" class="form-label">
                To: <code><small></small></code>
            </label>
            <input
                type="range"
                class="form-range"
                id="toYear"
                data-model="toYear"
                min="-200"
                max="-65"
            >
        </div>

        <div class="col-8">
            <label for="dinoTypes" class="form-label">Choose Dino Types</label>
            <select
                data-model="currentTypes"
                multiple
                id="dinoTypes"
                {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                {# {% for type in RandomNumber %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %} #}
            </select>
        </div>
    </div>

    <hr>

    <div style="min-height: 480px; margin-bottom: 1.5rem;">
        {{ render_chart(chart) }}
    </div>
</div>