{# templates/components/ProductSearch.html.twig #}
{# for the Live Component to work, there must be a single root element
   (e.g. a <div>) where the attributes are applied to #}
<div {{ attributes }} class="m-4">
    <input
        type="search"
        data-model="query"
        value="{{ query }}"
        data-action="live#update"
    >

    <ul>
        {% for product in this.products %}
            <li>{{ product.machineName }}</li>
        {% endfor %}
    </ul>
</div>