<div {{ attributes }}>
    <strong>{{ this.RandomNumberfunc }}</strong>

    {# <button data-action="live#$render">Generate a new number!</button> #}
    <input 
        type="range" 
        class="form-range" 
        id="fromYear" 
        data-model="fromYear"
        data-action="live#action" 
        data-action-name="getRandomNumberfunc" 
        max= 500 
        min=0
        >  
            {# <div class="col-2">
            <label for="toYear" class="form-label">
                To: <code><small></small></code>
            </label>
            <input
                type="range"
                class="form-range"
                id="fromYear"
                data-model="fromYear"
                data-action="live#action"
                data-action-name="getRandomNumberfunc"
                min=0
                max=200
            >   #}
</div>