    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <table id="datatable" class="table table-striped table-datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Machine</th>
                            <th>Heure machine</th>
                            <th>Nbr de point</th>
                            <th>Intervalle</th>
                            <th>Crée le</th>
                            <th>Actif depuis</th>
                            <th>Nbr de ligne arrivé</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Machine</th>
                            <th>Heure machine</th>
                            <th>Nbr de point</th>
                            <th>Intervalle</th>
                            <th>Crée le</th>
                            <th>Actif depuis</th>
                            <th>Nbr de ligne arrivé</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for data in datas %}
                            <tr>                                            
                                <td>{{data.machineName}}</td>
                                <td>{{data.dateheure | date("d/m/Y H:m:s")}}</td>
                                <td>{{data.pointnumber}}</td>
                                <td>{{data.steptime}}</td>
                                <td>{{data.createdAt|date("d/m/Y H:m:s")}}</td>
                                <td>{{data.awakeSince|date("H:m:s")}}</td>
                                <td>{{data.rowinarray}}</td>
                            </tr>                                                
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>