{% extends 'base.html.twig' %}

{% block title %}Hello MonjourController!
{% endblock %}


{# {% block javascripts %}{% endblock %} #}

{% block body %}
{# {{ component('Alert', { message: message, type:type }) }} #}
{# {{ component('randomNumber', {max: 1000}) }} #}

{% endblock %}
