{% extends 'base.html.twig' %}
{% block topbar %}
{{ component('TopSearch', { selectdates: selectdates, machineNames: machineNames }) }}
{% endblock %}
{% block body %}
{{ component('Alert', { message: message, type:type }) }}

<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>
</div>
{{ component('DataStatsComponent', { datavalue: 400, datedebut, datefin, machine, selectdate }) }}
    {# modal calendar #}
{{ component('tables', {datas }  )  }}
<!-- Modal One day -->
<div class="modal fade" id="ModalOneDay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir une date</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="overflow:hidden;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                    {#  #}
                      <label for="start">Start date:</label>

                      <input type="date" id="start" name="trip-start" value="{{ 'now'|date('d-m-Y') }}" min="2024-01-01" max="{{ 'now'|date('d-m-Y') }}" />
                    {#  #}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btnOneclic" type="button" class="btn btn-primary"   data-bs-dismiss="modal">Choisir date</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal between -->
<div class="modal fade" id="ModalBetween" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir entre deux dates</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     {#  #}
          <label for="start">Date debut:</label>

          <input type="date" id="start2" name="trip-start" value="{{ 'now'|date('d-m-Y') }}" min="2024-01-01" max="{{ 'now'|date('d-m-Y') }}" />

          <label for="end">Date fin:</label>

          <input type="date" id="end2" name="trip-end" value="{{ 'now'|date('d-m-Y') }}" min="2024-01-01" max="{{ 'now'|date('d-m-Y') }}" />
     {#  #}
      </div>
      <div class="modal-footer">
        <button id="btnTwoclic" type="button" id="buttonmodalsubmit" class="btn btn-primary" data-bs-dismiss="modal">Choisir date</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

